<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.lyh.entity.Admin">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, admin_name as adminName, admin_password as adminPassword, is_del as isDel, create_time as createTime,
    head_portrait as headPortrait, name, id_card as idCard
  </sql>

  <select id="findAdminList" resultType="com.lyh.entity.Admin">
    select
        <include refid="Base_Column_List"/>
    from
        `admin`
    where
        is_del = 0
        <if test="searchStr != null">
          and (admin_name like concat("%",#{searchStr},"%") or name like("%",#{searchStr},"%"))
        </if>
  </select>
</mapper>