<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.lyh.entity.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
    <result column="article_type_id" jdbcType="BIGINT" property="articleTypeId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lyh.entity.Article">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, description, create_time, is_del, article_type_id, user_id
  </sql>
<select id="selectArticleList" resultType="com.lyh.entity.Article">
    select
        a.id, a.title, a.description, a.create_time as createTime, a.is_del as isDel, a.article_type_id as articleTypeId,
        a.user_id as userId
    from
        article a left join `user` u on a.user_id = u.id
    where a.is_del = 0 and u.is_del = 0
        <if test="username != null">
            and u.username like concat("%",#{username},"%")
        </if>
        <if test="title != null">
            and title like concat("%",#{title},"%")
        </if>
    order by
        a.create_time desc
</select>
    <select id="selectListByTypeId" resultType="com.lyh.entity.vo.ArticleVo1">
        select
            id,title,description,content,create_time,is_del,article_type_id,user_id,cover,article_tags
        from article
        where
            article.is_del = 0
            <if test="typeId != null and typeId != ''">
                and FIND_IN_SET(#{typeId},article_type_id)
            </if>
        order by create_time desc
    </select>

</mapper>