<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.lyh.entity.Question">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="ptag_id" jdbcType="BIGINT" property="ptagId" />
    <result column="ptag_name" jdbcType="VARCHAR" property="ptagName" />
    <result column="sub_tag_ids" jdbcType="VARCHAR" property="subTagIds" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, ptag_id, ptag_name, sub_tag_ids, create_time, is_del, user_id, is_real_name
  </sql>
  <select id="selectQuestionList" resultType="com.lyh.entity.Question">
    select <include refid="Base_Column_List" />
    from
        question
    where
        is_del = 0
    order by create_time desc
  </select>
</mapper>