<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.dao.TestScoreRuleMapper">
  <resultMap id="BaseResultMap" type="com.lyh.entity.TestScoreRule">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="segment" jdbcType="VARCHAR" property="segment" />
    <result column="result" jdbcType="VARCHAR" property="result" />
  </resultMap>
  <sql id="Base_Column_List">
    id, segment, `result`
  </sql>
<select id="selectLatestScoreRulesId" resultType="java.lang.Long">
  select id from test_score_rule order by id desc limit 0,1
</select>
</mapper>